body{
    background-image: linear-gradient( 90deg, #0664a4, #12a1e7);
    display: flex;
    justify-content: center;
}
h3{
    color: #12a1e7;
}
.container{
    width: 600px;
    height: 45  0px;
    background-color: #8edef7;
    display: flex;
    flex-direction: column;
    align-items: start;
    align-self: center;
    padding: 50px;
    box-shadow: 5px 3px 30px black;
    border: 10px;
    border-radius: 10px;
}
